{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
Bookstore
{% endblock %}
{% block content %}

<div class="container">
    <h2>Search Books</h2>
    {% comment %} form for searching a book by author or title  {% endcomment %}
    <form method="GET" action="{% url 'search' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title or author" name="query" value="{{ request.GET.query }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    {% if normal == 1 %}
        {% for genre in genres %}
        <div class="container mx-0">
            <h3>{{ genre }}</h3>
            <div id="slider_{{ forloop.counter }}" class="carousel slide px-5" data-ride="carousel">
                <div class="carousel-inner">
                    {% for book in all_books|books_by_genre:genre %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                                <div class="row">
                        {% endif %}
                        <div class="col-3">
                            <div class="card mb-4" style="width: 250px;height: 500px;margin: 0 auto;overflow: hidden;">
                                <img class="card-img-top px-3" src="{{ book.image.url }}" alt="{{ book.title }}" height="270" width="80">
                                <div class="card-body" style="font-size: 0.9em;">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <p class="card-text">Author: {{ book.author }}</p>
                                    <p class="card-text">Price: ₹ {{ book.price }}</p>
                                    <form method="POST" action="{% url 'add_to_cart' book.id %}">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Quantity" name="quantity" min="1" max="{{ book.inventory.stock }}">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">Add to Cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                        {% endif %}
                    {% endfor %}
                    </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <a class="carousel-control-prev" href="#slider_{{ forloop.counter }}" role="button" data-slide="prev" style="margin-left:-20px; max-width:50px ">
                        <img src="{% static 'icon/arrow-left-circle.svg' %}" alt="Previous" style="width: 50px; height: 50px;">
                    </a>
                    <a class="carousel-control-next" href="#slider_{{ forloop.counter }}" role="button" data-slide="next" style="margin-right:-20px; max-width:50px ">
                        <img src="{% static 'icon/arrow-right-circle.svg' %}" alt="Next" style="width: 50px; height: 50px;">
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    


    {% comment %} if books is not null i.e. searched books are sent  {% endcomment %}
    {% elif books %}
        <div class="row">
            {% for book in books %}
                <div class="col-3">
                    <div class="card mb-4" style="width: 250px;height: 500px;margin: 0 auto;overflow: hidden;">
                        <img class="card-img-top px-3" src="{{ book.image.url }}" alt="{{ book.title }}" height="270" width="80">
                        <div class="card-body" style="font-size: 0.9em;">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">Author: {{ book.author }}</p>
                            <p class="card-text">Price: ₹ {{ book.price }}</p>
                            <form method="POST" action="{% url 'add_to_cart' book.id %}">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" placeholder="Quantity" name="quantity" min="1" max="{{ book.inventory.stock }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Add to Cart</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% comment %} else print no books found  {% endcomment %}
    {% else %}
        <p>No books found.</p>
    {% endif %}
</div>

{% endblock %}